.join-beavers-page {
  &__top {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: 122px;
    margin-right: 122px;
    gap: 80px;

    &__cards {
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
  }
}
