.join-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 550px;
  background: rgb(var(--purple-raw) / 6%);
  border-radius: var(--mui-shape-borderRadius);
  padding: var(--spacing-5);

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    flex: 1;
    border-radius: var(--mui-shape-borderRadius);
  }
}
