.page-heading {
  padding: var(--spacing-2) var(--spacing-4);
  position: sticky;
  top: calc(72px);
  background-color: var(--mui-palette-common-white);
  z-index: var(--mui-zIndex-appBar);

  &__breadcrumbs {
    margin-bottom: var(--spacing-1);
  }

  &__title {
    color: var(--green);
    font: var(--mui-font-h4);
  }
}
