.contact-page {
  &__content {
    display: flex;
    flex-direction: row;
    margin: 0 var(--spacing-4) var(--spacing-6);
    gap: var(--spacing-6);

    &__info {
      display: flex;
      flex-direction: column;
      color: var(--green);

      &__title {
        font: var(--mui-font-h5);
        margin-bottom: var(--spacing-1);
      }

      &__text {
        font: var(--mui-font-body1);
        margin: 0 0 var(--spacing-5) 0;
      }

      &__map {
        width: 100%;
        aspect-ratio: 199 / 123;
        border: 0;
      }
    }

    > * {
      flex: 1;
    }
  }
}
