.hut-renovation-card {

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image {
    height: 165px;
  }

  &__content {
    flex: 1 1 auto;
  }
}
