.footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 56px;
  background: rgb(var(--yellow-raw) / 32%);
  padding: var(--spacing-1) var(--spacing-12);

  &__address {
    margin-left: auto;
    margin-right: auto;
    color: var(--color-neutral-700);
    font: var(--mui-font-body2);
    text-align: center;
  }

  &__charity {
    color: var(--color-neutral-700);
    font: var(--mui-font-body1);
    text-align: center;
  }
}

@media (width <= 900px) {
  .footer {
    height: auto;
    min-height: 56px;
    flex-direction: column;
    gap: var(--spacing-1);
    padding: var(--spacing-2);

    &__address {
      margin: 0;
    }
  }
}
