.navbar {
  height: 72px;
  background-color: var(--green);
  padding: var(--spacing-2) var(--spacing-3);
  color: var(--mui-palette-common-white);
  border-bottom: 1px solid var(--color-neutral-200);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;

  &__icon {
    margin-right: var(--spacing-2);
  }

  &__title {
    font: var(--mui-font-h6);
  }

  &__navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: var(--spacing-4);
  }

  &__socials {
    display: flex;
    gap: var(--spacing-1);
  }
}
