:root {
  line-height: 21px;
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto, serif;
  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
