name: Check release label
on:
  pull_request:
    types: [ opened, reopened, labeled, unlabeled, synchronize ]
    branches: [ main ]

jobs:
  check-label:
    runs-on: ubuntu-latest

    steps:
      - name: Check for release label
        run: |
          LABELS='${{ toJson(github.event.pull_request.labels.*.name) }}'
          
          echo "PR labels: $LABELS"
          
          if echo "$LABELS" | grep -Eq 'release:(patch|minor|major)'; then
            exit 0
          else
            echo "Error: Missing required release label. Please add one of: release:patch, release:minor, or release:major." >&2
            exit 1
          fi
